<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/addBookStyles.css">
    <link rel="stylesheet" href="/css/editBookStyles.css">
    <link rel="stylesheet" href="/css/myBooksStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo"><a href="/dashboard"><i class="fa-solid fa-house-chimney"></i> Home</a></div>
            <ul class="nav-items">
                <li><a href="/myBooks"><i class="fa-solid fa-rectangle-list"></i> My Books</a></li>
                <li><a href="/my-rentals"><i class="fa-solid fa-book-open"></i> My Rentals</a></li>
                <li><a href="/books/allBooks"><i class="fa-solid fa-book"></i> Browse Books</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="book-card-container">
            <img src="/<%= book.thumbnail_path %>" class="book-thumbnail" alt="<%= book.title %> Thumbnail">
            <div class="book-info">
                <h2 class="book-title"><i class="fa-solid fa-book"></i>
                    <%= book.title %>
                </h2>
                <p class="book-author"><strong><i class="fa-solid fa-user"></i> Author:</strong>
                    <%= book.author %>
                </p>
                <p class="book-description"><strong><i class="fa-solid fa-file-alt"></i> Description:</strong>
                    <%= book.description %>
                </p>
            </div>
        </div>

        <div class="form-container">
            <h1 class="bookhd"><i class="fa-solid fa-edit"></i> Edit Book</h1>
            <form action="/books/edit/<%= book.id %>" method="POST">
                <label for="title"><i class="fa-solid fa-book-open"></i> Title:</label>
                <input type="text" id="title" name="title" value="<%= book.title %>" required>

                <label for="author"><i class="fa-solid fa-user"></i> Author:</label>
                <input type="text" id="author" name="author" value="<%= book.author %>" required>

                <label for="description"><i class="fa-solid fa-file-alt"></i> Description:</label>
                <textarea id="description" name="description" required><%= book.description %></textarea>

                <button type="submit" class="Btn" onclick="window.location.href='/books/edit/<%= book.id %>'">Save
                    Chnages !
                    <svg viewBox="0 0 512 512" class="svg">
                        <path
                            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4 0 22.6 0s6.2 16.4 0 22.6z">
                        </path>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('thumbnail').addEventListener('change', function () {
            const fileName = this.files.length > 0 ? this.files[0].name : 'No file chosen';
            document.getElementById('thumbnail-file-name').textContent = fileName;
        });

        document.getElementById('gallery').addEventListener('change', function () {
            const files = this.files;
            const fileNames = files.length > 0 ? Array.from(files).map(file => file.name).join(', ') : 'No files chosen';
            document.getElementById('gallery-file-name').textContent = fileNames;
        });
    </script>
</body>

</html>